<app-header></app-header>
<!-- content -->
<main class="main-pl">
  <mat-drawer-container class="!bg-transparent flex rounded-[8px]">
    <mat-drawer class="main-pl-sb" mode="over" [opened]="visibleMenu()">
      <mat-list>
        <mat-list-item>
          <a href="/products">Product</a>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content class="main-pl-ct">
      <ng-content select="[content]"></ng-content>
    </mat-drawer-content>
  </mat-drawer-container>
</main>

<div class="main-pl-hidden">
  <ng-content select="[hidden]"></ng-content>
</div>